<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %X{txHash} will be replaced with the current MDC value (or blank if not set) -->
            <pattern>[%date{HH:mm:ss.SSS}] [%thread] %-5level [%X{txHash}] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
